<ul class="list-group">
    <a href="{{ path('app_person_edit', {username: person.username}) }}" class="list-group-item {{ app.request.attributes.get('_route') == 'app_person_edit' ? 'active' }}">
        <h5 class="list-group-item-heading">Edit Profile</h5>
    </a>
    <a href="{{ path('app_person_change_password', {username: person.username}) }}" class="list-group-item {{ app.request.attributes.get('_route') == 'app_person_change_password' ? 'active' }}">
        <h5 class="list-group-item-heading">Change Password</h5>
    </a>
    <a href="{{ path('app_person_manage_subscriptions', {username: person.username}) }}" class="list-group-item {{ app.request.attributes.get('_route') == 'app_person_manage_subscriptions' ? 'active' }}">
        <h5 class="list-group-item-heading">Manage Subscriptions</h5>
    </a>
</ul>
