{% extends 'AppBundle:Person:layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('app_person_show', {username: person.username}) }}">
                Profile
            </a>
            |
            Edit
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            {% include 'AppBundle:Person:_profileLinks.html.twig' %}
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ heading }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                {% if form.password is defined %}
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Current Password</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Password</label>
                                        <div class="col-md-10">
                                            <span class="text-danger">{{ form_errors(form.password.first) }}</span>
                                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Repeat Password</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}
                                {% else %}
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">First Name</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Last Name</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Email</label>
                                        <div class="col-md-10">
                                            <span class="text-danger">{{ form_errors(form.email) }}</span>
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Phone</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                                            {% if form.phoneNumber.vars.errors|length > 0 %}
                                                <span class="text-danger">Invalid 10 digit phone number (ex: 1234567890)</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">Username</label>
                                        <div class="col-md-10">
                                            <span class="text-danger">{{ form_errors(form.username) }}</span>
                                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 control-label">{{ form_label(form.team) }}</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.team, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                {% endif %}

                                <button type="submit" class="btn btn-primary pull-right">
                                    {{ icon('checkmark') }}
                                    Save
                                </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
