{% extends 'CollegeFootballTeamBundle:Conference:layout.html.twig' %}
{% import _self as macros %}

{% block content %}
    <legend><h2>FBS (Division I-A Conferences)</h2></legend>
    {{ macros.conferences(conferences.fbs) }}

    <legend><h2>FCS (Division I-AA Conferences)</h2></legend>
    {{ macros.conferences(conferences.fcs) }}
{% endblock %}

{% macro conferences(conferences) %}
    {% for conference_name, conference in conferences %}
        {% if loop.index0 % 3 == 0 or loop.first %}
            {% if not loop.first %}</div>{% endif %}
            <div class="row">
        {% endif %}
        <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path('collegefootball_team_conference_show', {slug: conference.slug}) }}">
                        {{ conference_name }}
                    </a>
                </div>
                <div class="panel-body">
                    {% if 'subConference' in conference|keys %}
                        {% for sub_conference_name, sub_conference in conference.subConference %}
                            <h4>{{ sub_conference_name }}</h4>
                            {% for team_slug, team in sub_conference.teams %}
                                <a href="{{ path('collegefootball_team_show', {slug: team_slug}) }}" class="text-muted">
                                    {{ team }}
                                </a>
                                <br>
                            {% endfor %}
                        {% endfor %}
                    {% elseif conference.teams is defined %}
                        {% for team_slug, team in conference.teams %}
                            <a href="{{ path('collegefootball_team_show', {slug: team_slug}) }}" class="text-muted">
                                {{ team }}
                            </a>
                            <br>
                        {% endfor %}
                    {% else %}
                        <span class="text-muted">No teams</span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endmacro %}
