{% extends 'CollegeFootballTeamBundle:Conference:layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                {% if is_granted('ROLE_MANAGE') %}
                    <a href="{{ path('collegefootball_team_conference_edit', {'slug': conference.slug}) }}" class="btn btn-primary btn-xs">
                        {{ icon('edit') }}
                        Edit
                    </a>
                {% endif %}
            </div>
            <a href="{{ path('collegefootball_team_conference_index') }}">
                Conferences
            </a>
            |
            {{ conference.name }}
        </div>
    </div>
    <div class="row">
        {% for subConference in conference.subConferences %}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ subConference }}
                    </div>
                    <ul class="list-group">
                        {% for team in conference.teamsInSubConference(subConference) %}
                            <a href="{{ path('collegefootball_team_show', {'slug': team.slug}) }}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ team }}</h4>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
