{% extends 'CollegeFootballTeamBundle:Game:layout.html.twig' %}

{% block content %}
    <legend>
        <h2>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ icon('calendar') }}
                    {{ week }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% for season_week in season_weeks %}
                        <li>
                            <a href="{{ path('collegefootball_team_game_index_week', {'season': season, 'week': season_week.number}) }}">
                                {{ season_week }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {{ week }} Games
        </h2>
    </legend>

    {% set current_date = null %}
    {% for game in games %}
        {% if current_date != game.date %}
            {% set current_date = game.date %}
            <h3>{{ game.date|date('D, M. j') }}</h3>
        {% endif %}
        <div class="panel panel-default panel-click" data-url="{{ path('collegefootball_team_game_show', {'game': game.id}) }}">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        {% if game.winningTeam and game.winningTeam == game.homeTeam %}
                            <div style="position: absolute;">
                                <h1 style="font-size: 3.0em; margin-top: -10px; margin-left: -10px; background-color: #fff; border-radius: 3.0em; padding: 0px 5px;" class="text-success">
                                    {{ icon('checkmark-circled') }}
                                </h1>
                            </div>
                        {% endif %}
                        <div class="hidden-lg">
                            <img src="{{ asset(game.homeTeam.imageLocation) }}" style="width: 100px; float: left;">
                        </div>
                        <div class="visible-lg" style="margin: -15px 0px;">
                            <img src="{{ asset(game.homeTeam.imageLocation) }}" style="width: 100px; float: left; padding-right: 15px; border-right: 1px solid #{{ game.homeTeam.primaryColor }};">
                            <h3 style="color: #{{ game.homeTeam.primaryColor }}; line-height: 1.2em; margin: 15px 0px 0px 110px; padding: 15px 0px 0px 0px;">
                                <a href="{{ path('collegefootball_team_show', {'slug': game.homeTeam.slug}) }}" style="color: inherit;">
                                    {{ game.homeTeam }}
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <center class="text-muted" style="margin-top: 20px;">
                            {% if game.winningTeam %}
                                Final
                                <h4>
                                    {{ game.stats.homeStats.pointsFinal }}
                                    &mdash;
                                    {{ game.stats.awayStats.pointsFinal }}
                                </h4>
                            {% else %}
                                {{ game.location }}
                                <hr style="margin: 5px 60px;">
                                {{ game.date|date('m/d') }} @ {{ game.time }}
                            {% endif %}
                        </center>
                    </div>
                    <div class="col-sm-4">
                        {% if game.winningTeam and game.winningTeam == game.awayTeam %}
                            <div class="pull-right" style="margin-right: 40px;">
                                <div style="position: absolute;">
                                    <h1 style="font-size: 3.0em; margin-top: -10px; background-color: #fff; border-radius: 3.0em; padding: 0px 5px;" class="text-success">
                                        {{ icon('checkmark-circled') }}
                                    </h1>
                                </div>
                            </div>
                        {% endif %}
                        <div class="hidden-lg">
                            <img src="{{ asset(game.awayTeam.imageLocation) }}" style="width: 100px; float: right;">
                        </div>
                        <div class="visible-lg" style="margin: -15px 0px;">
                            <img src="{{ asset(game.awayTeam.imageLocation) }}" style="width: 100px; float: right; padding-left: 15px; border-left: 1px solid #{{ game.awayTeam.primaryColor }};">
                            <h3 style="color: #{{ game.awayTeam.primaryColor }}; line-height: 1.2em; margin: 15px 110px 0px 0px; padding: 15px 0px 0px 0px; text-align: right;">
                                <a href="{{ path('collegefootball_team_show', {'slug': game.awayTeam.slug}) }}" style="color: inherit;">
                                    {{ game.awayTeam }}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
