{% extends 'CollegeFootballTeamBundle:Game:layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                {% if guessed_correct_count %}
                    <span class="text-success">{{ (guessed_correct_count / guessed_correct|length * 100)|number_format(1) }}%</span>
                {% endif %}
            </div>
            {{ week }} Lines
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <th>Time</th>
                <th>
                    <div class="pull-right">
                        Final
                    </div>
                    Matchup
                </th>
                <th>% Picked</th>
                <th class="text-center">Calc. Odds</th>
                <th width="1%;"></th>
            </thead>
            {% for game in games %}
                <tr class="{% if game.winningTeam %} {{ guessed_correct[game.id] ? 'success' : 'danger' }} {% endif %}">
                    <td style="padding: 15px 5px 5px 15px;" class="text-muted">
                        {{ game.date|date('D. M, j') }}<br>
                        {{ game.time ? game.time|date('h:i A') : 'TBD' }}
                    </td>
                    <td>
                        <div class="pull-right text-muted">
                            {% if game.winningTeam %}
                                {{ game.stats.awayStats.pointsFinal }}
                            {% endif %}
                        </div>
                        <img src="{{ game.awayTeam.imageLocation }}" style="max-height: 15px;">
                        <a href="{{ path('collegefootball_team_show', {'slug': game.awayTeam.slug}) }}">
                            {{ game.awayTeam }}
                            <span class="text-muted">
                                {{ game.spread and game.predictedWinner == 'Away' ? '(-' ~ game.spread ~ ')' }}
                            </span>
                        </a>
                        <hr style="margin: 5px 0px;">
                        <div class="pull-right text-muted">
                            {% if game.winningTeam %}
                                {{ game.stats.homeStats.pointsFinal }}
                            {% endif %}
                        </div>
                        <img src="{{ game.homeTeam.imageLocation }}" style="max-height: 15px;">
                        <a href="{{ path('collegefootball_team_show', {'slug': game.homeTeam.slug}) }}">
                            {{ game.homeTeam }}
                            <span class="text-muted">
                                {{ game.spread and game.predictedWinner == 'Home' ? '(-' ~ game.spread ~ ')' }}
                            </span>
                        </a>
                    </td>
                    <td>
                        {% if game.id in game_picks|keys %}
                            {% set pick_total = game_picks[game.id].awayCount + game_picks[game.id].homeCount %}
                            <div class="progress" style="border: none; height: 15px; margin-bottom: 0px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ (game_picks[game.id].awayCount / pick_total) * 100 }}%;">
                                </div>
                            </div>
                            <hr style="margin: 5px 0px;">
                            <div class="progress" style="border: none; height: 15px; margin-bottom: 0px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ (game_picks[game.id].homeCount / pick_total) * 100 }}%;">
                                </div>
                            </div>
                        {% else %}
                            &mdash;
                            <hr style="margin: 5px 0px;">
                            &mdash;
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% set away_chance = calculated_winners[game.id].awayChance %}
                        {% set home_chance = calculated_winners[game.id].homeChance %}

                        <span class="text-{{ away_chance > home_chance ? 'success' : 'danger' }}">
                            {{ (away_chance ? away_chance ~ '%' : '<span class="text-muted">&mdash;</span>')|raw }}
                        </span>
                        <hr style="margin: 5px 0px;">
                        <span class="text-{{ home_chance > away_chance ? 'success' : 'danger' }}">
                            {{ (home_chance ? home_chance ~ '%' : '<span class="text-muted">&mdash;</span>')|raw }}
                        </span>
                    </td>
                    <td>
                        <a href="{{ path('collegefootball_team_game_show', {'game': game.id}) }}" class="btn btn-default">
                            {{ icon('information-circled') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
