{% extends 'CollegeFootballTeamBundle:Team:layout.html.twig' %}

{% block content %}
    {% include 'CollegeFootballTeamBundle:Team:header.html.twig' %}

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ icon('information-circled') }}
                    School Info
                </div>
                <div class="panel-body">
                    <h4>{{ team.school }}</h4>
                    <dl>
                        <dt>Location</dt>
                        <dd>{{ team.city }}, {{ team.state }}</dd>
                        <dt>Stadium</dt>
                        <dd>{{ team.stadiumName }}</dd>
                        <dt>Colors</dt>
                        <dd>
                            <div style="width: 75%; height: 20px; background-color: #{{ team.primaryColor }}; float: left;">
                            </div>
                            <div style="width: 25%; height: 20px; background-color: #{{ team.secondaryColor }}; margin-left: 75%;">
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ icon('calendar') }}
                    Schedule
                </div>
                <ul class="list-group">
                    {% for game in games %}
                        <a href="{{ path('collegefootball_team_game_show', {'game': game.id}) }}" class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <div class="pull-right">
                                    <small class="text-muted">
                                        {{ game.date|date('m/d') }}
                                        <br>
                                        {{ game.time ? game.time|date('h:i') : 'TBD' }}
                                    </small>
                                </div>
                                {% if game.homeTeam == team %}
                                    <img src="{{ game.awayTeam.imageLocation }}" style="width: 35px;">
                                    vs {{ game.awayTeam.currentRanking ? '#' ~ game.awayTeam.currentRanking.apRank }} {{ game.awayTeam.nameShort }}
                                {% else %}
                                    <img src="{{ game.homeTeam.imageLocation }}" style="width: 35px;">
                                    @ {{ game.homeTeam.currentRanking ? '#' ~ game.homeTeam.currentRanking.apRank }} {{ game.homeTeam.nameShort }}
                                {% endif %}
                            </h4>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ icon('document-text') }}
                    Upcomming Game
                </div>
                <div class="panel-body">
                    {% if games|length %}
                        {% set next_game = games[0] %}
                        <center>
                            {% if next_game.homeTeam == team %}
                                <h4>
                                    <img src="{{ next_game.awayTeam.imageLocation }}" style="width: 35px;">
                                    vs {{ next_game.awayTeam.currentRanking ? '#' ~ next_game.awayTeam.currentRanking.apRank }} {{ next_game.awayTeam.nameShort }}
                                </h4>
                            {% else %}
                                <h4>
                                    <img src="{{ next_game.homeTeam.imageLocation }}" style="width: 35px;">
                                    @ {{ next_game.homeTeam.currentRanking ? '#' ~ next_game.homeTeam.currentRanking.apRank }} {{ next_game.homeTeam.nameShort }}
                                </h4>
                            {% endif %}

                            {{ next_game.location }}
                            <hr style="margin: 5px 60px;">
                            {{ next_game.date|date('m/d') }} @ {{ next_game.time }}
                        </center>
                        <br>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ icon('stats-bars') }}
                    Team Comparison
                </div>
                <div class="panel-body">
                    <span class="text-muted">Comming Soon</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 visible-lg">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ icon('clipboard') }}
                    {{ team.conference }} Standings
                </div>
                <ul class="list-group">
                    {% for conference_rank in conference_ranking %}
                        {% for team_details in conference_rank %}
                            <a href="{{ path('collegefootball_team_show', {'slug': team_details.team.slug}) }}" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <div class="pull-right text-muted">
                                        ({{ team_details.gamesWon }} &mdash; {{ team_details.gamesPlayed - team_details.gamesWon }})
                                    </div>
                                    <img src="{{ team_details.team.imageLocation }}" style="width: 35px;">
                                    {{ team_details.team.currentRanking ? '#' ~ team_details.team.currentRanking.apRank }} {{ team_details.team.nameShort }}
                                </h4>
                            </a>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
