{% extends 'CollegeFootballTeamBundle:Team:layout.html.twig' %}

{% block content %}
    {% include 'CollegeFootballTeamBundle:Team:header.html.twig' %}

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Points
                </div>
                <table class="table table-striped table-bordered table-hover stats-table">
                    <thead>
                        <th>Stat</th>
                        <th style="text-align: center;">{{ team.nameShort }}</th>
                        <th style="text-align: center;">Opponent</th>
                    </thead>
                    <tr>
                        <th>Final</th>
                        <td>{{ stats.team.pointsFinal }}</td>
                        <td>{{ stats.opponent.pointsFinal }}</td>
                    </tr>
                    <tr>
                        <th>1st Quarter</th>
                        <td>{{ stats.team.pointsFirst }}</td>
                        <td>{{ stats.opponent.pointsFirst }}</td>
                    </tr>
                    <tr>
                        <th>2nd Quarter</th>
                        <td>{{ stats.team.pointsSecond }}</td>
                        <td>{{ stats.opponent.pointsSecond }}</td>
                    </tr>
                    <tr>
                        <th>3rd Quarter</th>
                        <td>{{ stats.team.pointsThird }}</td>
                        <td>{{ stats.opponent.pointsThird }}</td>
                    </tr>
                    <tr>
                        <th>4th Quarter</th>
                        <td>{{ stats.team.pointsFourth }}</td>
                        <td>{{ stats.opponent.pointsFourth }}</td>
                    </tr>
                    <tr>
                        <th>OT</th>
                        <td>{{ stats.team.ot }}</td>
                        <td>{{ stats.opponent.ot }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Offense
                </div>
                <table class="table table-striped table-bordered table-hover stats-table">
                    <thead>
                        <th>Stat</th>
                        <th style="text-align: center;">{{ team.nameShort }}</th>
                        <th style="text-align: center;">Opponent</th>
                    </thead>
                    <tr><th colspan="3" class="tr-header">Total Offense</th></tr>
                    <tr>
                        <th>Yards</th>
                        <td>{{ stats.team.totalOffenseYards }}</td>
                        <td>{{ stats.opponent.totalOffenseYards }}</td>
                    </tr>

                    <tr>
                        <th class="tr-header">Rushing</th>
                        <td class="tr-header">
                            {{ stats.team.rushingAttempts ? (stats.team.rushingYards / stats.team.rushingAttempts)|number_format(2) }} yds / carry
                        </td>
                        <td class="tr-header">
                            {{ stats.opponent.rushingAttempts ? (stats.opponent.rushingYards / stats.opponent.rushingAttempts)|number_format(2) }} yds / carry
                        </td>
                    </tr>
                    <tr>
                        <th>Yards</th>
                        <td>{{ stats.team.rushingYards }}</td>
                        <td>{{ stats.opponent.rushingYards }}</td>
                    </tr>
                    <tr>
                        <th>Attempts</th>
                        <td>{{ stats.team.rushingAttempts }}</td>
                        <td>{{ stats.opponent.rushingAttempts }}</td>
                    </tr>

                    <tr>
                        <th class="tr-header">Passing</th>
                        <td class="tr-header">
                            {{ stats.team.passingAttempts ? ((stats.team.passingCompletions / stats.team.passingAttempts) * 100)|number_format(2) }} %
                        </td>
                        <td class="tr-header">
                            {{ stats.opponent.passingAttempts ? ((stats.opponent.passingCompletions / stats.opponent.passingAttempts) * 100)|number_format(2) }} %
                        </td>
                    </tr>
                    <tr>
                        <th>Yards</th>
                        <td>{{ stats.team.passingYards }}</td>
                        <td>{{ stats.opponent.passingYards }}</td>
                    </tr>
                    <tr>
                        <th>Attempts</th>
                        <td>{{ stats.team.passingAttempts }}</td>
                        <td>{{ stats.opponent.passingAttempts }}</td>
                    </tr>
                    <tr>
                        <th>Completions</th>
                        <td>{{ stats.team.passingCompletions }}</td>
                        <td>{{ stats.opponent.passingCompletions }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Other
                </div>
                <table class="table table-striped table-bordered table-hover stats-table">
                    <thead>
                        <th>Stat</th>
                        <th style="text-align: center;">{{ team.nameShort }}</th>
                        <th style="text-align: center;">Opponent</th>
                    </thead>

                    <tr><th colspan="3" class="tr-header">Turnovers</th></tr>
                    <tr>
                        <th>Count</th>
                        <td>{{ stats.team.turnoverCount }}</td>
                        <td>{{ stats.opponent.turnoverCount }}</td>
                    </tr>

                    <tr><th colspan="3" class="tr-header">Penalties</th></tr>
                    <tr>
                        <th>Yards</th>
                        <td>{{ stats.team.penaltyYards }}</td>
                        <td>{{ stats.opponent.penaltyYards }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
