<!DOCTYPE html>
<html lang="en">
<head>
    <title>College Football</title>
    {% block stylesheets %}
        {% stylesheets
            '@CollegeFootballAppBundle/Resources/public/css/bootstrap-yeti.css'
            '@CollegeFootballAppBundle/Resources/public/css/login.css'
            '@CollegeFootballAppBundle/Resources/public/css/ionicons.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <style type="text/css">
            @font-face {
                font-family: "Ionicons";
                src: url("{{ asset('bundles/collegefootballapp/fonts/ionicons.eot') }}");
                src: url("{{ asset('bundles/collegefootballapp/fonts/ionicons.eot') }}") format("embedded-opentype"),
                    url("{{ asset('bundles/collegefootballapp/fonts/ionicons.ttf') }}") format("truetype"),
                    url("{{ asset('bundles/collegefootballapp/fonts/ionicons.woff') }}") format("woff"),
                    url("{{ asset('bundles/collegefootballapp/fonts/ionicons.svg') }}") format("svg");
                font-weight: normal;
                font-style: normal;
            }
        </style>
    {% endblock %}
</head>

<body style="background-color: #f3f4f5;">
    <div class="container">
        <div style="margin-top: 5%;">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6" style="padding-top: 25px;">
                {% block flash_messages %}
                    {% set flashTypes = [ 'note', 'warning', 'error', 'success'] %}
                    {% set flashTypeMap = {
                        'note'    : 'info',
                        'warning' : 'warning',
                        'error'   : 'danger',
                        'success' : 'success',
                    } %}
                    {% set flashIconMap = {
                        'note'    : 'info-circle',
                        'warning' : 'exclamation-circle',
                        'error'   : 'times-circle',
                        'success' : 'check-circle',
                    } %}
                    {% for flashType in flashTypes %}
                        {% for flashMessage in app.session.flashbag.get(flashType) %}
                            <div class="hidden-print alert alert-custom alert-dismissible alert-{{ flashTypeMap[flashType] }}" role="alert" style="margin-bottom: 20px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <table>
                                    <td>
                                        <div class="alert-icon alert-icon-{{ flashTypeMap[flashType] }}">
                                            {{ icon(flashIconMap[flashType]) }}
                                        </div>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <strong class="alert-text-{{ flashTypeMap[flashType] }}">
                                            {{ flashType|capitalize }}!
                                        </strong>
                                        {{ flashMessage|raw }}
                                    </td>
                                </table>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

