{% extends 'AppBundle:Email:layout.html.twig' %}

{% block message %}
    Hey, {{ person }}
    <br><br>
    {% if week.number == 1 %}
        <h4>Football season is here!</h4>
        Here is how last year ended:
        <ol>
            <li><b>caitlyn:</b> 61.8% (110-68)</li>
            <li><b>mellis:</b> 60.3% (108-71)</li>
            <li><b>sellis:</b> 60.3% (108-71)</li>
            <li><b>spread:</b> 60.3% (108-71)</li>
            <li><b>jeffe_1:</b> 59.8% (107-72)</li>
            <li><b>nana:</b> 59.2% (105-74)</li>
            <li><b>bradellis:</b> 58.7% (105-74)</li>
        </ol>
        <br>
        The first weeks pickem will be a little different since there is only one game this weekend and the rest are next week. So our first picks will last 2 weeks.
        <br>
        Good luck! Click the link below to make week 1 predictions.
    {% else %}
        Just a friendly reminder to complete your weekly college football pick'em predictions.
    {% endif %}

    <hr style="margin-top: 30px; margin-bottom: 10px; border: 0; border-top: 1px solid #eeeeee;">

    {% if week.number > 1 %}
        <h4><center>Pick'em Stats</center></h4>
        <div class="c100 p{{ pickem_predictions|number_format(0) }} center">
            <span>{{ pickem_predictions|number_format(1) }}%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    {% endif %}
    <br>
    Make your picks now
    <a href="{{ 'http://elliscfb.com/person/pickem' }}">
        {{ 'http://elliscfb.com/person/pickem' }}
    </a>
    <hr style="margin-top: 30px; margin-bottom: 10px; border: 0; border-top: 1px solid #eeeeee;">
    <a href="{{ 'http://elliscfb.com/person/' ~ person.username ~ '/notifications' }}" style="color: #ccc;">
        Unsubscribe
    </a>
{% endblock %}
