{% extends 'AppBundle:Email:layout.html.twig' %}

{% block message %}
    Hey, {{ person }}
    <br><br>
    {% if week.number == 1 %}
        <h4>Football season is here!</h4>
        <br>
        Click the link below to make week 1 predictions.
    {% else %}
        Just a friendly reminder to complete your weekly college football pick'em predictions.
    {% endif %}

    <hr style="margin-top: 30px; margin-bottom: 10px; border: 0; border-top: 1px solid #eeeeee; width: 100%;">

    {% if week.number > 1 %}
        <h4><center>Pick'em Stats</center></h4>
        <div class="c100 p{{ pickem_predictions|number_format(0) }} center">
            <span>{{ pickem_predictions|number_format(1) }}%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    {% endif %}
    <br>
    Make your picks now
    <a href="{{ 'https://elliscfb.com/person/pickem' }}">
        {{ 'https://elliscfb.com/person/pickem' }}
    </a>
    <br><br>
    <a href="{{ 'https://elliscfb.com/person/' ~ person.username ~ '/notifications' }}" style="color: #ccc;">
        Unsubscribe
    </a>
{% endblock %}
