{% extends 'CollegeFootballAppBundle:Person:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if app.user == person or is_granted('ROLE_MANAGE') %}
                        <div class="pull-right">
                            <a href="{{ path('collegefootball_person_edit', {'username': person.username}) }}" class="btn btn-xs btn-primary">
                                {{ icon('compose') }}
                                Edit
                            </a>
                        </div>
                    {% endif %}
                    Profile
                </div>
                <div class="panel-body">
                    <dl class="dl-spaced">
                        <dt>Name</dt>
                        <dd>{{ person }}</dd>
                        <dt>Email</dt>
                        <dd>{{ person.email|default('&mdash;')|raw }}</dd>
                        <dt>Username</dt>
                        <dd>{{ person.username }}</dd>
                        <dt>My Team</dt>
                        <dd>
                            {% if person.team %}
                                {{ person.team.name }}
                            {% else %}
                                <span class="text-muted">Not set</span>
                                <a href="{{ path('collegefootball_person_edit', {'username': person.username}) }}" style="margin-left: 10px;">
                                    {{ icon('compose') }}
                                </a>
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Pick'em Stats
                </div>
                <div class="panel-body">
                    <h4>Season Picks</h4>
                    <center>
                        <div id="js-pickem-stats" data-wins="{{ person.predictionWins() }}" data-losses="{{ person.predictionLosses() }}"></div>
                    </center>
                    <hr>
                    <h4>{{ week }} Picks</h4>
                    {% if (week_win_picks + week_lose_picks) %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-success" data-toggle="tooltip" title="{{ ((week_win_picks / (week_win_picks + week_lose_picks)) * 100)|number_format(1) }}%" style="line-height: 16px; width: {{ (week_win_picks / (week_win_picks + week_lose_picks)) * 100 }}%;">
                                {{ week_win_picks }}
                            </div>
                            <div class="progress-bar progress-bar-striped progress-bar-danger" data-toggle="tooltip" title="{{ ((week_lose_picks / (week_win_picks + week_lose_picks)) * 100)|number_format(1) }}%" style="line-height: 16px; width: {{ (week_lose_picks / (week_win_picks + week_lose_picks)) * 100 }}%;">
                                {{ week_lose_picks }}
                            </div>
                        </div>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Pick'em Leaderboard
                </div>
                <div class="panel-body">
                    <h4 class="text-center">
                        #{{ current_rank }} {{ person.username }} &mdash; {{ ((person.predictionWins / (person.predictionWins + person.predictionLosses)) * 100)|number_format(1) }}%
                    </h4>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <th class="text-center">Rank</th>
                        <th>Username</th>
                        <th class="text-center">Score</th>
                    </thead>
                    {% for person_rank in people_rank %}
                        <tr>
                            <td class="text-center">{{ loop.index }}</td>
                            <td>{{ person_rank.username }}</td>
                            <td class="text-center">{{ person_rank.score }}%</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                            {{ icon('calendar') }}
                            {{ week }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% for season_week in season_weeks %}
                                {% if season_week.startDate|date('U') <= "now"|date('U') %}
                                    <li>
                                        <a href="{{ path('collegefootball_person_show_week', {'username': person.username, 'season': season, 'week': season_week.number}) }}">
                                            {{ season_week }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    Pick'em
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Time</th>
                        <th></th>
                        <th>
                            <div class="pull-right">
                                Final
                            </div>
                            Matchup
                        </th>
                        <th>% Picked</th>
                        <th width="1%;">Pick</th>
                        <th width="1%;"></th>
                    </thead>
                    {% for game in games %}
                        <tr>
                            <td style="padding: 15px 5px 5px 15px;" class="text-muted">
                                {{ game.date|date('D. M, j') }}<br>
                                {{ game.time ? game.time|date('h:i A') : 'TBD' }}
                            </td>
                            <td>
                                <h2 style="margin: 5px 0px 0px 0px;" class="text-muted">
                                    {% if game.winningTeam or game.date|date('Y-m-d') < "now"|date('Y-m-d') or (game.date|date('Y-m-d') == "now"|date_modify('-3 hour')|date('Y-m-d') and game.time|date("U") < "now"|date_modify('-4 hour')|date("U")) %}
                                        {{ icon('locked') }}
                                    {% else %}
                                        <span class="text-primary">{{ icon('unlocked') }}</span>
                                    {% endif %}
                                </h2>
                            </td>
                            <td>
                                <div class="pull-right text-muted">
                                    {% if game.winningTeam %}
                                        {{ game.stats.awayStats.pointsFinal }}
                                    {% endif %}
                                </div>
                                <img src="{{ game.awayTeam.imageLocation }}" style="max-height: 15px;">
                                <a href="{{ path('collegefootball_team_show', {'slug': game.awayTeam.slug}) }}">
                                    {{ game.awayTeam }}
                                    <span class="text-muted">
                                        {{ game.spread and game.predictedWinner == 'Away' ? '(-' ~ game.spread ~ ')' }}
                                    </span>
                                </a>
                                <hr style="margin: 5px 0px;">
                                <div class="pull-right text-muted">
                                    {% if game.winningTeam %}
                                        {{ game.stats.homeStats.pointsFinal }}
                                    {% endif %}
                                </div>
                                <img src="{{ game.homeTeam.imageLocation }}" style="max-height: 15px;">
                                <a href="{{ path('collegefootball_team_show', {'slug': game.homeTeam.slug}) }}">
                                    {{ game.homeTeam }}
                                    <span class="text-muted">
                                        {{ game.spread and game.predictedWinner == 'Home' ? '(-' ~ game.spread ~ ')' }}
                                    </span>
                                </a>
                            </td>
                            <td>
                                {% if game.id in game_picks|keys %}
                                    {% set pick_total = game_picks[game.id].awayCount + game_picks[game.id].homeCount %}
                                    <div class="progress" style="border: none; height: 15px; margin-bottom: 0px;">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ (game_picks[game.id].awayCount / pick_total) * 100 }}%;">
                                        </div>
                                    </div>
                                    <hr style="margin: 5px 0px;">
                                    <div class="progress" style="border: none; height: 15px; margin-bottom: 0px;">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ (game_picks[game.id].homeCount / pick_total) * 100 }}%;">
                                        </div>
                                    </div>
                                {% else %}
                                    &mdash;
                                    <hr style="margin: 5px 0px;">
                                    &mdash;
                                {% endif %}
                            </td>
                            <td>
                                <center>
                                    {% if game.winningTeam %}
                                        {% set is_winner = game.winningTeam == game.awayTeam and game.awayTeam.slug in week_winners %}
                                        {% set is_loser  = game.winningTeam == game.awayTeam and game.winningTeam.slug not in week_winners %}

                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default btn-xxs {% if is_winner %} btn-success {% elseif is_loser %} btn-danger {% endif %}" style="margin: 0px 0px 5px 0px;">
                                                {% if is_winner %}
                                                    {{ icon('checkmark') }}
                                                {% elseif is_loser %}
                                                    {{ icon('close') }}
                                                {% endif %}
                                            </label>
                                        </div>
                                        <hr style="margin: 0px;">

                                        {% set is_winner = game.winningTeam == game.homeTeam and game.homeTeam.slug in week_winners %}
                                        {% set is_loser  = game.winningTeam == game.homeTeam and game.winningTeam.slug not in week_winners %}

                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default btn-xxs {% if is_winner %} btn-success {% elseif is_loser %} btn-danger {% endif %}" style="margin: 5px 0px;">
                                                {% if is_winner %}
                                                    {{ icon('checkmark') }}
                                                {% elseif is_loser %}
                                                    {{ icon('close') }}
                                                {% endif %}
                                            </label>
                                        </div>
                                    {% else %}
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn js-btn-winner btn-default btn-xxs {% if game.awayTeam.slug in week_winners %} btn-primary {% endif %}" style="margin: 0px 0px 5px 0px;" data-game="{{ game.id }}" data-home-away="away">
                                                <input type="radio" name="game-winner-{{ game.id }}" data-url="{{ path('collegefootball_person_prediction', {'username': person.username, 'game': game.id, 'slug': game.awayTeam.slug}) }}" autocomplete="off" {% if game.awayTeam.slug in week_winners %} checked="checked" {% endif %}>
                                                <div id="js-away-{{ game.id }}" style="{{ game.awayTeam.slug not in week_winners ? 'display: none;' }}">
                                                    {{ icon('checkmark') }}
                                                </div>
                                            </label>
                                        </div>
                                        <hr style="margin: 0px;">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn js-btn-winner btn-default btn-xxs {% if game.homeTeam.slug in week_winners %} btn-primary {% endif %}" style="margin: 5px 0px;" data-game="{{ game.id }}" data-home-away="home">
                                                <input type="radio" name="game-winner-{{ game.id }}" data-url="{{ path('collegefootball_person_prediction', {'username': person.username, 'game': game.id, 'slug': game.homeTeam.slug}) }}" autocomplete="off" {% if game.homeTeam.slug in week_winners %} checked="checked" {% endif %}>
                                                <div id="js-home-{{ game.id }}" style="{{ game.homeTeam.slug not in week_winners ? 'display: none;' }}">
                                                    {{ icon('checkmark') }}
                                                </div>
                                            </label>
                                        </div>
                                    {% endif %}
                                </center>
                            </td>
                            <td>
                                <a href="{{ path('collegefootball_team_game_show', {'game': game.id}) }}" class="btn btn-default">
                                    {{ icon('information-circled') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/collegefootballapp/js/highcharts/highcharts.js') }}"></script>

    <script type="text/javascript">
        Highcharts.setOptions({
            colors: ['#43cc6a', '#f04124']
        });

        $('.js-btn-winner').on('click', function(event, state) {
            var url = $(this).children().attr('data-url');
            var btn = $(this);

            $.post(url,
                null,
                function(response) {
                    if (response.code == 100 && response.success) {
                        console.log(response.data.now);
                        btn.addClass('btn-primary');
                        btn.removeClass('active');
                        btn.removeClass('focus');

                        var gameId   = btn.data('game');
                        var homeAway = btn.data('home-away');

                        var oppHomeAway = 'home';
                        if (homeAway == 'home') {
                            oppHomeAway = 'away';
                        }

                        $('#js-' + homeAway + '-' + gameId).show();
                        $('#js-' + oppHomeAway + '-' + gameId).hide();
                        $('#js-' + oppHomeAway + '-' + gameId).parent().removeClass('btn-primary');
                    }
                },
                "json"
            );
        });

        $('#js-pickem-stats').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false,
                spacingBottom: -250,
                spacingTop: -150,
                spacingLeft: 0,
                spacingRight: 0,

                // Explicitly tell the width and height of a chart
                width: 265,
                height: 150
            },
            title: {
                text: false,
                style: {
                    fontSize: 14,
                },
                align: 'center',
                verticalAlign: 'middle',
                y: 0,
                x: -7
            },
            credits: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y} ({point.percentage:.1f}%)</b>'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -25,
                        style: {
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90
                }
            },
            series: [{
                type: 'pie',
                name: 'Count/Percentage',
                innerSize: '50%',
                data: [
                    ['Wins',   $('#js-pickem-stats').data('wins')],
                    ['Losses', $('#js-pickem-stats').data('losses')],
                ]
            }]
        });
    </script>
{% endblock %}
