<!DOCTYPE html>
<html>
<head>
    <title>College Football</title>
    {% block stylesheets %}
        {% stylesheets
            '@CollegeFootballAppBundle/Resources/public/css/bootstrap-yeti.css'
            '@CollegeFootballAppBundle/Resources/public/css/main-structure.css'
            '@CollegeFootballAppBundle/Resources/public/css/nav.css'
            '@CollegeFootballAppBundle/Resources/public/css/sidebar.css'
            '@CollegeFootballAppBundle/Resources/public/css/ionicons.css'
            '@CollegeFootballAppBundle/Resources/public/css/bootstrap-datepicker.css'
            '@CollegeFootballAppBundle/Resources/public/css/custom.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <style type="text/css">
            @font-face {
                font-family: "Ionicons";
                src: url("{{ asset('bundles/collegefootballapp/fonts/ionicons.eot') }}");
                src: url("{{ asset('bundles/collegefootballapp/fonts/ionicons.eot') }}") format("embedded-opentype"),
                    url("{{ asset('bundles/collegefootballapp/fonts/ionicons.ttf') }}") format("truetype"),
                    url("{{ asset('bundles/collegefootballapp/fonts/ionicons.woff') }}") format("woff"),
                    url("{{ asset('bundles/collegefootballapp/fonts/ionicons.svg') }}") format("svg");
                font-weight: normal;
                font-style: normal;
            }
        </style>
    {% endblock %}
</head>
<body>

    {% block wrapper %}
        <div id="wrapper">
            {# main nav #}
            {% include 'CollegeFootballAppBundle:Shared:nav.html.twig' %}

            {# header #}
            <div id="header">
                {% block page_header_actions %}
                    {% if page_header_action_list is defined and page_header_action_list|length > 0 %}
                        <a href="#" class="btn-round btn-round-default list-item-header pull-right" style="margin-top: 15px;">
                            {{ icon('grid') }}
                        </a>
                        <div class="list-item-header-options" style="display: none;">
                            {% for list_item in page_header_action_list %}
                                <a href="{{ list_item.path }}" class="btn-round btn-round-default btn-round-md pull-right" style="margin-top: 24px; margin-right: 15px;" data-toggle="tooltip" title="{{ list_item.name }}">
                                    {{ icon(list_item.icon) }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_title %}
                    {{ page_title_header|default('Title Needed') }}
                {% endblock %}
            </div>

            {# content #}
            <div id="content">
                {% block flash_messages %}
                    {% set flashTypes = [ 'note', 'warning', 'error', 'success'] %}
                    {% set flashTypeMap = {
                        'note'    : 'info',
                        'warning' : 'warning',
                        'error'   : 'danger',
                        'success' : 'success',
                    } %}
                    {% set flashIconMap = {
                        'note'    : 'info-circle',
                        'warning' : 'exclamation-circle',
                        'error'   : 'times-circle',
                        'success' : 'check-circle',
                    } %}
                    {% for flashType in flashTypes %}
                        {% for flashMessage in app.session.flashbag.get(flashType) %}
                            <div class="hidden-print alert alert-custom alert-dismissible alert-{{ flashTypeMap[flashType] }}" role="alert" style="margin-bottom: 20px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <table>
                                    <td>
                                        <div class="alert-icon alert-icon-{{ flashTypeMap[flashType] }}">
                                            {{ icon(flashIconMap[flashType]) }}
                                        </div>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <strong class="alert-text-{{ flashTypeMap[flashType] }}">
                                            {{ flashType|capitalize }}!
                                        </strong>
                                        {{ flashMessage|raw }}
                                    </td>
                                </table>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="modal fade js-confirm-modal" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Are you sure you want to <span class="js-confirm-modal-title">continue</span>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn js-continue-action">
                            <span class="js-confirm-modal-btn">Continue</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {% javascripts
            'bundles/collegefootballapp/js/jquery-3.1.0.min.js'
            'bundles/collegefootballapp/js/bootstrap.js'
            'bundles/collegefootballapp/js/bootstrap-datepicker.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            /* list items header */
            $('.list-item-header').on('click', function(){
                $('.list-item-header-options').toggle("fade");
            });

            /* tooltip */
            $('[data-toggle="tooltip"]').tooltip();

            /* popover */
            $('[data-toggle="popover"]').popover({'html': true});

            /* panel-click */
            $('.panel-click, .table-click').on('click', function(){
                var route = $(this).data('url');
                window.location.href = route;
            });

            /* team search */
            $('#js-team-search').on('keyup', function() {
                var searchText = $(this).val();
                var searchList = $('#js-team-search-list');

                if (searchText == "") {
                    searchList.hide();
                    return 0;
                }

                $.getJSON("{{ path('collegefootball_team_search') }}", {
                    format: "json",
                    searchName: searchText
                })
                .done(function(data){
                    searchList.empty();
                    searchList.show();

                    $.each(data.data, function(index, value){
                        var listGroupItem = '<a href="' + value.route + '" class="list-group-item">' + value.name + '</a>';
                        searchList.append(listGroupItem);
                    });
                });
            });


            /* modal confirmation */
            $(document).ready(function(){
                $('a[data-confirm-action]').each(function (i, el) {
                    LinkConfirmation.init(el);
                });

                $('form[data-confirm-action]').each(function (i, el) {
                    FormConfirmation.init(el);
                });
            });

            var LinkConfirmation = {
                init: function(el) {
                    var title    = 'Continue';
                    var btnClass = 'primary';

                    if ($(el).is('[data-confirm-title]')) {
                        title = $(el).attr('data-confirm-title');
                    }

                    if ($(el).is('[data-confirm-btn-class]')) {
                        btnClass = $(el).attr('data-confirm-btn-class');
                    }

                    $(el).on('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();

                        var modal = $('.js-confirm-modal');

                        modal.find('.js-confirm-modal-title').text(title.toLowerCase());
                        modal.find('.js-confirm-modal-btn').text(title);
                        modal.find('.js-continue-action').addClass('btn-' + btnClass);

                        modal.modal().on('shown.bs.modal', function() {
                            $('[data-dismiss="modal"]').on('click', function (e) {
                                e.preventDefault();
                                modal.modal('hide');
                            });

                            $('.js-continue-action').on('click', function (e) {
                                modal.modal('hide');
                                window.location.href = $(el).attr('href');
                            });
                        });
                    });
                }
            }

            var FormConfirmation = {
                init: function(el) {
                    var title    = 'Continue';
                    var btnClass = 'primary';

                    if ($(el).is('[data-confirm-title]')) {
                        title = $(el).attr('data-confirm-title');
                    }

                    if ($(el).is('[data-confirm-btn-class]')) {
                        btnClass = $(el).attr('data-confirm-btn-class');
                    }

                    $(el).on('submit', function (e) {
                        e.preventDefault();
                        e.stopPropagation();

                        var modal = $('.js-confirm-modal');

                        modal.find('.js-confirm-modal-title').text(title.toLowerCase());
                        modal.find('.js-confirm-modal-btn').text(title);
                        modal.find('.js-continue-action').addClass('btn-' + btnClass);

                        modal.modal().on('shown.bs.modal', function() {
                            $('[data-dismiss="modal"]').on('click', function (e) {
                                e.preventDefault();
                                modal.modal('hide');
                            });

                            $('.js-continue-action').on('click', function (e) {
                                modal.modal('hide');
                                $(el).off('submit');
                                $(el).submit();
                            });
                        });
                    });
                }
            }

        </script>
    {% endblock %}

</body>
</html>
