{% extends 'AppBundle:Manage:layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a href="{{ path('app_manage_pickem_reminder_email') }}" class="btn btn-xs btn-default" data-confirm-action data-confirm-title="Send Pick'em Reminder Email">
                    {{ icon('email') }}
                    Send Pick'em Reminder
                </a>
                <a href="{{ path('app_manage_people_add') }}" class="btn btn-xs btn-primary">
                    {{ icon('plus') }}
                    Add Person
                </a>
            </div>
            People
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Team</th>
            </thead>
            {% for person in people %}
                <tr class="table-click" data-url="{{ path('app_person_show', {'username': person.username}) }}">
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.username }}</td>
                    <td>{{ person.email|default('&mdash;')|raw }}</td>
                    <td>
                        {% if person.team %}
                            {{ person.team.name }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
