{% extends 'CollegeFootballAppBundle:Email:layout.html.twig' %}

{% block message %}
    Hey, {{ person }}
    <br><br>
    Just a friendly reminder to complete your weekly college football pick'em predictions.

    <hr style="margin-top: 30px; margin-bottom: 10px; border: 0; border-top: 1px solid #eeeeee;">

    <h4><center>Pick'em Stats</center></h4>
    <div class="c100 p{{ pickem_predictions|number_format(0) }} center">
        <span>{{ pickem_predictions|number_format(1) }}%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <br>
    Make your picks now
    <a href="{{ 'http://college-football.herokuapp.com/person/' ~ person.username ~ '/show' }}">
        {{ 'http://college-football.herokuapp.com/person/' ~ person.username ~ '/show' }}
    </a>
{% endblock %}
