{% extends 'CollegeFootballAppBundle:Shared:layout.html.twig' %}

{% block page_title %}
    College Football Scoreboard
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Latest ESPN News
                </div>
                <ul class="list-group">
                    {% for item in news %}
                        <a href="{{ item.link }}" target="_blank" class="list-group-item">
                            <h5>{{ item.title }}</h5>
                            <span class="text-muted">
                                {% if item.date|date('m/d/Y') != "now"|date('m/d/Y') %}
                                    {{ item.date|date('m/d h:i a') }}
                                {% else %}
                                    {{ item.date|date('h:i a')}}
                                {% endif %}
                            </span>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-lg-6">
            {% set current_date = null %}
            {% for game in games %}
                {% if game.date != current_date %}
                    {% set current_date = game.date %}
                    {% if not loop.first %}<br>{% endif %}
                    <h4>{{ game.date|date('D, M. j') }}</h4>
                {% endif %}
                <div class="panel panel-default panel-click" data-url="{{ path('collegefootball_team_game_show', {'game': game.id}) }}" style="margin-bottom: 0px;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <center>
                                    {% if game.winningTeam and game.winningTeam == game.homeTeam %}
                                        <div style="position: absolute;">
                                            <h1 style="font-size: 3.0em; margin-top: -10px; background-color: #fff; border-radius: 3.0em; padding: 0px 5px;" class="text-success">
                                                {{ icon('checkmark-circled') }}
                                            </h1>
                                        </div>
                                    {% endif %}
                                    <img src="{{ asset(game.homeTeam.imageLocation) }}" style="width: 40px;">
                                    <h5 style="color: #{{ game.homeTeam.primaryColor }};">
                                        <a href="{{ path('collegefootball_team_show', {'slug': game.homeTeam.slug}) }}" style="color: inherit;">
                                            {{ game.homeTeam }}
                                        </a>
                                    </h5>
                                </center>
                            </div>
                            <div class="col-sm-4">
                                <center class="text-muted" style="margin-top: 15px; font-size: 0.8em;">
                                    {% if game.winningTeam %}
                                        Final
                                        <h4>
                                            {{ game.stats.homeStats.pointsFinal }}
                                            &mdash;
                                            {{ game.stats.awayStats.pointsFinal }}
                                        </h4>
                                    {% else %}
                                        {{ game.location }}
                                        <hr style="margin: 5px 60px;">
                                        {{ game.date|date('m/d') }} @ {{ game.time ? game.time|date('h:i A') : 'TBD' }}
                                    {% endif %}
                                </center>
                            </div>
                            <div class="col-sm-4">
                                <center>
                                    {% if game.winningTeam and game.winningTeam == game.awayTeam %}
                                        <div class="pull-right" style="margin-right: 50px;">
                                            <div style="position: absolute;">
                                                <h1 style="font-size: 3.0em; margin-top: -10px; background-color: #fff; border-radius: 3.0em; padding: 0px 5px;" class="text-success">
                                                    {{ icon('checkmark-circled') }}
                                                </h1>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <img src="{{ asset(game.awayTeam.imageLocation) }}" style="width: 40px;">
                                    <h5 style="color: #{{ game.awayTeam.primaryColor }};">
                                        <a href="{{ path('collegefootball_team_show', {'slug': game.awayTeam.slug}) }}" style="color: inherit;">
                                            {{ game.awayTeam }}
                                        </a>
                                    </h5>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.last %}<br><br>{% endif %}
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ playoff_rankings ? 'Playoff' : 'AP' }}
                    Top 25
                </div>
                <ul class="list-group">
                    {% if playoff_rankings %}
                        {% for ranking in playoff_rankings %}
                            <a href="{{ path('collegefootball_team_show', {'slug': ranking.team.slug}) }}" class="list-group-item">
                                <h5>
                                    <img src="{{ ranking.team.imageLocation }}" style="height: 25px;">
                                    #{{ ranking.playoffRank }}
                                    {{ ranking.team.nameShort }}
                                </h5>
                            </a>
                        {% endfor %}
                    {% else %}
                        {% for ranking in ap_rankings %}
                            <a href="{{ path('collegefootball_team_show', {'slug': ranking.team.slug}) }}" class="list-group-item">
                                <h5>
                                    <img src="{{ ranking.team.imageLocation }}" style="height: 25px;">
                                    #{{ ranking.apRank }}
                                    {{ ranking.team.nameShort }}
                                </h5>
                            </a>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
